@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<input type="submit" value="Click Me" onclick="OnClick"/>

<p id="Desc">Use this area to provide additional information.</p>
